<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="DevExpress Local" value="C:\Program Files\DevExpress 26.1\Components\System\Components\Packages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
    <packageSourceMapping>
      <packageSource key="DevExpress Local">
        <package pattern="DevExpress.*" />
      </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
